---
---

@import "base";
@import "nav";
@import "instructor";
@import "mobile";

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 25px;
}

br {
  line-height: 2;
}

.main {
  margin: 0 20px;
}

