<nav class="site-nav">
  <a href="/"><img src="{{ site.baseurl }}/assets/img/aikido_at_cornell.png"/></a>
  <ul>
    <li><a href="{{ site.baseurl }}/"              >Home</a></li>
    <li><a href="{{ site.baseurl }}/about/"        >About</a></li>
    <li><a href="{{ site.baseurl }}/instructors/"  >Instructors</a></li>
    <li><a href="{{ site.baseurl }}/new-members/"  >New Members</a></li>
    <li><a href="{{ site.baseurl }}/photo-gallery/">Photos</a></li>
    <li><a href="{{ site.baseurl }}/links/"        >Links</a></li>
    <li><a href="{{ site.baseurl }}/contact/"      >Contact</a></li>
  </ul>
</nav>

