@media only screen and (max-device-width: 668px) {
  body {
    max-width: none;
    font-size: 30px;
  }

  hr {
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #fff;
  }

  br {
    line-height: 1;
  }

  h2 {
    margin: .5em 0 .2em 0;
    font-size: 50px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
  }

  h3 {
    margin: 0;
    margin-top: .5em;
    font-size: 28px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  .masthead h1 {
    font-size: 60px;
  }

  .site-nav {
    li {
      font-size: 44px;
      padding: 0;
      margin: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
    }
  }

  .update {
    p {
      margin-bottom: 2em;

      strong:first-child {
        margin-top: 1em;
      }
    }
  }
}

/* Instructors */
@media only screen and (max-device-width: 668px) {
  .instructor-text p {
    display: none;
  }

  .instructor-image img {
    width: 40vw;
    height: 40vw;
  }

  .instructor-text {
    width: 100%;

    h2 {
      font-weight: 500;
      border-bottom: 3px solid #bbb;
      width: 100%;
    }
  }

  .instructor-short-bio {
    font-size: 44px;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
}
